extends layout

block content
    div(class="container")
        div(class="row")
            div(class="col-sm-4")
                h1 DEEPMIND
                p Welcome to #{title}
            div(class="col-sm-8")
                p Here we will play a game powered on Javascript and JQuery.
                button(type="button" class="btn btn-primary") Continue
                button(type="button" class="btn btn-danger") Close